:where(.tooltip) {
  position: absolute;
  top: 40px;
  right: 0;
}

:where(.tooltiptext) {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
}

.tooltip ul {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 20px;
  line-height: 1.9;
  width: 30vw;
  background: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  animation: dropdown 0.3s ease-in;
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
}

@keyframes dropdown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:where(.tooltiptext li) {
  list-style-type: none;
  font-size: 25px;
}

:where(.tooltiptext a) {
  color: #000;
  line-height: 1.9;
  padding: 10px 0 10px 40px;
}

.tooltiptext a:hover {
  color: #00f;
}

@media (max-width: 1252px) {
  .tooltip ul {
    width: 35vw;
  }
}

@media (max-width: 1078px) {
  .tooltip ul {
    width: 40vw;
  }
}

@media (max-width: 1070px) {
  .tooltip ul {
    width: 93vw;
    position: relative;
    top: 5px;
    z-index: 10;
    left: -40px;
  }
}
