:where(.hero) {
  background-image: url('../../images/cbc-tower.png');
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: calc(100vh - 97px);
}

.hero::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

:where(.jumbotron) {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

:where(.cbc) {
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -97px;
}

:where(.cbc h1) {
  font-size: 64px;
  margin-top: 97px;
  text-align: center;
}

:where(.cbc h3) {
  font-size: 34px;
  width: 400px;
}

:where(.cbc p) {
  font-size: 24px;
  line-height: 1.7;
  margin-top: 10px;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}

:where(.buttons) {
  display: flex;
}

:where(.buttons button:nth-child(1)) {
  margin-right: 10px;
}

:where(.buttons button:nth-child(2)) {
  margin-left: 10px;
}

:where(.subsidiaries) {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  color: #0099dc;
  margin: 15px 5px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  width: 18%;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

:where(.subsidiaries svg) {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}

:where(.hero img) {
  width: 0;
  height: 450px;
  width: 100%;
  position: relative;
  width: 700px;
  margin-right: 40px;
  visibility: hidden;
}

:where(.about) {
  align-items: center;
}

:where(.about svg) {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
}

:where(.about a) {
  color: #fff;
  text-decoration: none;
}

:where(.about a) {
  border-bottom: 1px solid #fff;
}

:where(.tower) {
  position: relative;
  display: none;
}

:where(.bullet) {
  position: absolute;
  margin-left: calc(50% - 50px);
  margin-top: 20px;
  visibility: hidden;
}

:where(.bullet div) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 3px;
  border: 1px solid #726f6f;
}

:where(.bullet div:last-child) {
  background-color: #0099dc;
}

@media (max-width: 837px) {
  .cbc p {
    width: 90%;
  }

  .hero {
    height: 100vh;
  }
}

@media (max-width: 615px) {
  .cbc {
    font-size: 50px;
  }
}

@media (max-width: 590px) {
  .buttons {
    flex-direction: column;
  }
}

@media (max-width: 568px) {
  .cbc h1 {
    font-size: 54px;
  }
}

@media (max-width: 478px) {
  .cbc h1 {
    font-size: 40px;
  }
}

@media (max-width: 375px) {
  .cbc h1 {
    font-size: 34px;
  }
}

@media (min-width: 590px) {
  .subsidiaries {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1070px) {
  .hero {
    margin-top: 97px;
  }
}
