.hero {
  background-image: url('../../images/Carousel.png');
  color: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: calc(100vh - 97px);
}

.jumbotron {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.cbc {
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -97px;
}

.cbc h1 {
  font-size: 64px;
  margin-top: 97px;
}

.cbc h3 {
  font-size: 34px;
  width: 300px;
}

.cbc p {
  font-size: 24px;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.subsidiaries {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  color: #0099dc;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
  display: inline-flex;
  text-align: center;
  width: 18%;
  justify-content: center;
}

.subsidiaries svg {
  margin-left: 5px;
  margin-top: 3px;
}

.hero img {
  width: 0;
  height: 450px;
  width: 100%;
  position: relative;
  width: 700px;
  margin-right: 40px;
  visibility: hidden;
}

.about {
  align-items: center;
}

.about svg {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
}

.about a {
  color: #fff;
}

.tower {
  position: relative;
  display: none;
}

.bullet {
  position: absolute;
  margin-left: calc(50% - 50px);
  margin-top: 20px;
  visibility: hidden;
}

.bullet div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 3px;
  border: 1px solid #726f6f;
}

.bullet div:last-child {
  background-color: #0099dc;
}
