.section {
  width: 90%;
  margin: auto;
}

.subsidiaries {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  perspective: 2000px;
  flex-wrap: wrap; 
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #d9d9d9;
  height: 300px;
  width: 30%;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.6s ease-in;
}

.flipped {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.flipped h4 {
  transform: rotateY(180deg);
  margin: 0 5px;
}

.item p {
  height: 180px;
  transform: rotateY(180deg);
  overflow-y: auto;
  margin: 20px 5px 20px;
}

.item p::-webkit-scrollbar {
  display: none;
}

.item a {
  text-decoration: none;
  font-weight: bold;
  color: #0073a6;
  transform: rotateY(180deg);
  display: block;
  margin: 0 5px;
}