:where(.section) {
  position: relative;
  top: 30px;
}
:where(.coperate) {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

:where(.imgs) {
  width: 20%;
  margin-bottom: 20px;
  text-align: center;
}

:where(.coperate img) {
  height: 70px;
  width: 60%;
  padding: 10px;
}

:where(.clients) {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: #474747;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
}
