.about {
  display: flex;
  margin: 40px auto;
}

.about a {
  text-decoration: none;
  color: #0073a6;
  font-weight: bold;
}

.focus {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background: #afe7ff33;
}

.focus p,
.focus h2,
.focus .link {
  padding: 10px;
}

.img {
  width: 50%;
}

.img img,
.focus {
  height: auto;
  width: 100%;
  display: flex;
}

.moments {
  text-align: center;
}

.removed {
  width: 90%;
  margin: auto;
}
