.about {
  display: flex;
  margin: 40px auto;
  overflow: hidden;
}

.about a {
  text-decoration: none;
  color: #0073a6;
  font-weight: bold;
}

.focus {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background: #afe7ff33;
}

.focus p,
.focus h2,
.focus .link {
  padding: 10px;
}

.img {
  width: 50%;
  overflow-x: hidden;
}

.img img,
.focus {
  height: auto;
  display: flex;
  width: calc(100% + 10px);
}

.moments {
  text-align: center;
}

.removed {
  width: 90%;
  margin: auto;
}

@media (max-width: 1161px) {
  .about {
    flex-direction: column;
    height: 500px;
    width: 100%;
  }

  .img {
    overflow-y: hidden;
    width: 1029.4px;
    border-radius: none;
  }

  .img img {
    border: none !important;
    object-fit: cover;
  }

  @media (max-width: 522px) {
    .about {
      height: 600px;
    }
  }
}
