.about {
  display: flex;
  /* width: calc(100% - 40px); */
  margin: 40px auto;
}

.about a {
  text-decoration: none;
  color: #0073a6;
  font-weight: bold;
}

.focus {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background: #afe7ff33;
  border-radius: 0 8px 8px 0;
}

.focus p,
.focus h2,
.focus .link {
  padding: 10px;
}

.img {
  width: 50%;
}

.img {
  border-bottom: 4px solid #000;
}

.img img,
.focus {
  height: auto;
  width: 100%;
}

.moments {
  text-align: center;
}
