.recentUpdates {
  display: flex;
  justify-content: space-between;
  margin: 20px 10%;
  flex-wrap: wrap;
}

.text {
  margin-left: 10%;
  margin-top: 20px;
  color: #474747;
}
.cards {
  width: 200px;
}

.cards img {
  width: 100%;
}

.recentUpdates p {
  font-size: 14px;
}
