.recentUpdates {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

.text {
  margin-top: 20px;
  color: #474747;
  font-size: 24px;
  font-weight: bold;
}
.cards {
  width: 200px;
}

.cards img {
  width: 100%;
  border-radius: 20px;
}

.recentUpdates p {
  font-size: 14px;
  margin-bottom: 21px;
}
