:where(.email) {
  background-color: #fff;
  width: 60%;
  margin: auto;
  text-align: center;
  border-radius: 33.045px;
  padding: 20px;
  box-shadow: 1.59251px -3.18501px 3.18501px rgba(0, 0, 0, 0.25);
  position: relative;
  top: 80px;
  margin-bottom: 0;
  z-index: 1;
}

:where(.email h2),
:where(.email p) {
  margin-bottom: 10px;
  color: #474747;
}

:where(.inputButton) {
  position: relative;
  width: 60%;
  margin: auto;
}

:where(.email input) {
  height: 45px;
  border-radius: 15.34px;
  text-indent: 20px;
  border: 1px solid #f0f0f0;
  background-color: #f2f2f2;
  width: 100%;
  font-family: 'Montserrat';
  outline: none;
}

:where(.email button) {
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 5px;
  margin-top: 2.2px;
  border-radius: 12.6783px;
  background-color: #0099dc;
  border: 1px solid #0099dc;
  color: #fff;
  padding: 7px;
  box-shadow: 0px 3.18501px 3.18501px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat';
  margin-left: 5px;
  top: 4px;
  cursor: pointer;
}

:where(.email button svg) {
  margin-left: 3px;
}

@media (max-width: 1003px) {
  .email {
    margin-bottom: 20px;
  }
}
