.navbar {
  height: 97px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.menu {
  position: absolute;
  right: 4vw;
  top: 20px;
}
.menu svg {
  width: 24px;
  height: 24px;
  color: #000;
}

.navbar nav {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 97px;
  width: 90%;
  margin: auto;
}

.active {
  color: blue;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar li {
  list-style-type: none;
}

.relaive {
  position: relative;
  left: 40;
}

.arrow,
.cart {
  margin-right: 50px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.navLeft {
  margin-left: 50px;
}

.navbar a {
  color: #474747;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.arrowDown {
  width: 24px;
  height: 24px;
  position: relative;
}

.cart {
  width: 24px;
  height: 24px;
}

.last {
  margin-left: 40px;
}

.navbar svg {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 1070px) {
  .navbar {
    height: auto;
    margin: 0 auto 0 auto;
    position: relative;
    overflow-x: hidden;
  }

  .menu {
    z-index: 3;
    cursor: pointer;
  }

  .logo1 {
    position: absolute;
    left: 4%;
    top: 11px;
    z-index: 2;
    -webkit-user-select: none;
    user-select: none;
  }

  .logo img {
    width: 0;
  }

  .logo a::after {
    position: absolute;
    content: url('../../logo.svg');
    top: 10px;
    left: 4vw;
  }
  .navbar ul div:nth-child(1),
  .navbar ul div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    line-height: 2.7;
  }

  .relaive {
    left: 0;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 96vw;
  }

  .navLeft {
    margin-left: 0;
    display: flex;
  }

  .last {
    margin-left: 0;
  }
}

@media (min-width: 1070.1px) {
  .menu {
    z-index: -1;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  .logo1 {
    display: none;
  }
}
