.navbar {
  margin: 0;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 97px;
}

.navbar div {
  display: flex;
  align-items: center;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  color: #474747;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.navbar svg {
  width: 24px;
  height: 24px;
  margin-top: 3px;
}
