.carousel {
  text-align: center;
  position: relative;
}

.carousel h2 {
  position: absolute;
  top: 5%;
  z-index: 2;
  color: #fff;
  font-size: 34px;
  width: 40%;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
}

.bg {
  background-position: center;
  background-size: cover;
  height: 300px;
  position: relative;
  z-index: -1;
  background-repeat: no-repeat;
}

.bg::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: -1;
}

.bg1 {
  background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1658215641/austin-distel-wD1LRb9OeEo-unsplash_paa6dm.jpg');
}

.bg2 {
  background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1658215281/christina-wocintechchat-com-0Nfqp0WiJqc-unsplash_a9u9mu.jpg');
}

.bg3 {
  background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1658215071/jason-goodman-6awfTPLGaCE-unsplash_r8waq3.jpg');
}

.bg4 {
  background-image: url('https://res.cloudinary.com/bizstak/image/upload/v1658214825/smartworks-coworking-Uz8THWPXwhI-unsplash_vc6of0.jpg');
}

.slick-slider,
.slick-initialized {
  position: relative;
}

.slick-next {
  position: absolute;
  right: 10px !important;
}

.slick-prev {
  position: absolute;
  left: 0 !important;
  z-index: 2;
}

.carousel h3 {
  position: absolute;
  left: 5%;
  bottom: 30px;
  color: #fff;
  font-size: 34px;
}

.slick-dots {
  position: absolute;
  bottom: 5%;
}

.slick-dots li button::before {
  background-color: #fff !important;
}

.slick-next:before,
.slick-prev:before {
  font-size: 30px;
}
