.management {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section h2 {
  margin-bottom: 5px;
}

.card {
  width: 45%;
  height: 300px;
  overflow: hidden;
  background-color: #e2f7ff;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  height: 250px;
  box-shadow: 0 1px 2px rgb(132, 131, 131);
}

.card h3 {
  font-size: 14px;
}

.card p {
  font-size: 13px;
}

.deputygeneralmanager,
.generalmanager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}
