:where(.foot) {
  background: rgba(144, 221, 255, 0.2);
  margin-top: 30px;
}

:where(.footer) {
  height: 150px;
  color: #474747;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-items: flex-end;
}

:where(.content) {
  width: 100%;
  margin-left: 10%;
  margin-right: calc(10% + 5px);
}

:where(.media) {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  flex-wrap: wrap;
}

:where(.item) {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

:where(.item svg) {
  margin-right: 5px;
  color: #0099dc;
  width: 20px;
  height: 20px;
}

:where(.item span) {
  font-size: 13px;
}

:where(.socialMedia) {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

:where(.socialMedia img) {
  width: 18px;
  height: 18px;
}

:where(.footer img) {
  margin-right: 25px;
}

:where(.foot hr) {
  border: none;
  border-bottom: 1px solid #0073a6;
  width: 80%;
  margin: auto;
}

:where(.links) {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  font-size: 14px;
  margin-top: 20px;
  flex-wrap: wrap;
  line-height: 2;
}

:where(.links div) {
  padding: 5px;
}

:where(.links a) {
  text-decoration: none;
  color: #474747;
}

:where(.copyright) {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
  color: rgb(142, 141, 141);
}

@media (max-width: 1003px) {
  .footer {
    height: 100px !important;
  }
}

@media (max-width: 428px) {
  .footer {
    height: 150px !important;
  }
}


@media (max-width: 412px) {
  .foot {
    margin-top: -20px !important;
  }
}