.ul {
  display: flex;
  justify-content: center;
}

.ul li {
  list-style-type: none;
  padding-bottom: 10px;
  margin: 30px;
  cursor: pointer;
  font-weight: 600;
  color: #474747;
}

.section1,
.section2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}

.board {
  width: 30%;
  border-radius: 4px;
  margin-bottom: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.board .img {
  width: -moz-fit-content;
  width: fit-content;
}

.board img {
  border-radius: 6px 6px 0 0;
  height: 256px;
  width: auto !important;
  width: 100%;
}

.para {
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow-y: auto;
  position: relative;
  top: -5px;
  height: 300.75px;
}

.para::-webkit-scrollbar {
  display: none;
}

.para {
  scrollbar-width: none;
  scrollbar-color: transparent;
}

.para h3,
.para p {
  padding: 15px;
}
