.questions {
  height: 120px;
  margin-top: 100px;
  padding: 80px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: relative;
  background-color: rgba(248, 238, 238, 0.085);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.questions::after {
  position: absolute;
  content: '';
  width: 300px;
  height: 150px;
  background-color: rgba(120, 80, 10, 0.301);
  background-image: linear-gradient(
    180deg,
    rgba(120, 80, 10, 0.825),
    rgba(119, 88, 25, 0.749),
    rgba(23, 16, 3, 0.782)
  );
  filter: blur(10px);
  right: 100px;
  top: 70px;
  z-index: -1;
}

.questions h2 {
  font-size: 2.188rem;
}

.questions p {
  margin-top: 20px;
  margin-bottom: 0;
  width: 50%;
  line-height: 1.9;
}

.questions a {
  text-decoration: none;
  color: rgb(0, 115, 166);
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.5;
}

.contact svg {
  display: flex;
  align-items: center;
  margin-left: 5px;
  width: 24px;
  height: 50px;
  margin-top: 0;
}
