.business {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  width: 23%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4.15245px 4.15245px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 20px auto;
  overflow: hidden;
  height: 550px;
}

.img {
  height: 50%;
  overflow: hidden;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100vh;
}

.text {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 270px;
}

.text p {
  max-height: 200px;
}

.text p::-webkit-scrollbar {
  display: none;
}

.title {
  margin: 20px auto;
}

.title h2 {
  color: #474747;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.card a {
  display: inline-flex;
  align-items: center;
  height: 20px;
  text-decoration: none;
  color: #0099dc;
  animation: cardLink 0.3s ease-out 1 alternate both;
}

.card svg {
  margin-left: 3px;
  width: 20px;
  height: 20px;
}

@media (min-width: 1149px) {
  .card img {
    height: 442px;
  }
}

@media (max-width: 1150px) {
  .card {
    width: 35%;
  }
  .card img {
    height: 135vh;
  }
}

@media (max-width: 1060px) {
  .card {
    width: 40%;
  }
}

@media (max-width: 800px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 665px) {
  .card {
    width: 96%;
  }
  .card img {
    height: 160vh;
  }
}
