.business {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  flex-wrap: wrap;
}

.card {
  width: 23%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4.15245px 4.15245px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 20px auto;
  overflow: hidden;
  height: 400px;
}

.img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: fit-content;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  height: 200px;
}

.text p {
  height: 60px;
  margin-top: 15px;
  margin-bottom: 20px;
  max-height: 60%;
  overflow-y: auto;
}

.text p::-webkit-scrollbar {
  display: none;
}

.title {
  margin: 20px auto;
}

.title h2 {
  color: #474747;
  font-size: 24px;
  font-weight: bold;
  margin-left: 15px;
}

.card a {
  display: flex;
  align-items: center;
  height: 20px;
  text-decoration: none;
  color: #0099dc;
  animation: cardLink 0.3s ease-out 1 alternate both;
}

.card svg {
  margin-left: 3px;
  width: 20px;
  height: 20px;
}

@media (max-width: 1060px) {
  .card {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .card {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 96%;
  }
}
