.business {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.card {
  width: 23%;
  height: 326px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4.15245px 4.15245px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.text {
  padding: 10px;
}

.text p {
  height: 70px;
  margin-top: 15px;
}

.title {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
}

.title h2 {
  margin-left: 5%;
  color: #474747;
}

.card a {
  display: flex;
  align-items: center;
  height: 20px;
  text-decoration: none;
  color: #0099dc;
}

.card svg {
  margin-left: 3px;
  width: 20px;
}
