.ul {
  display: flex;
  justify-content: center;
}

.ul li {
  list-style-type: none;
  padding-bottom: 10px;
  margin: 30px;
  position: relative;
}

.ul a {
  font-weight: 600;
  color: #474747;
  text-decoration: none;
}
