.section {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.contacts {
  background-color: #fff;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 3.70361px 3.70361px rgba(0, 0, 0, 0.25);
}

.contacts h2 {
  margin-bottom: 10px;
}

.contacts p {
  line-height: 1.9;
}
.enquiries p {
  margin-top: 50px;
}

.enquiries {
  width: 80%;
}

.enquiries p {
  width: 350px;
  color: #0073a6;
  font-weight: bold;
}

.forms {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 45px auto;
  flex-wrap: wrap;
}

.fullname {
  height: 30px;
  border-radius: 5px;
}

.section form {
  display: inline-flex;
  flex-direction: column;
  width: 350px;
}

.emailPhoneNumber {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.email,
.phoneNumber {
  width: 45%;
}

.section input,
.section textarea {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 5px;
  background-color: #e4f8ff;
  margin: 10px 0 5px 0;
  text-indent: 10px;
  height: 40px;
  font-family: 'Montserrat';
  outline: none;
}

.section textarea {
  padding-top: 10px;
}

.section textarea {
  resize: none;
  height: 160px;
}

.contact {
  box-shadow: 0px 3.70361px 3.70361px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 30px;
  height: 230px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.email,
.number {
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.address {
  width: 85%;
  display: flex;
  align-items: center;
}

.contact svg {
  color: #0099dc;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.socialMedia img {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  cursor: pointer;
}

@media (min-width: 1098px) {
  .contact {
    width: 520px;
  }
  .forms form {
    width: 420px;
  }
}

@media (max-width: 1097px) {
  .forms form {
    width: 100vw;
    margin-bottom: 45px;
  }

  .contact {
    width: 100vw;
  }
}

@media (max-width: 568px) {
  .emailPhoneNumber {
    display: inline;
  }
  .email {
    width: 100%;
  }
  .phoneNumber {
    width: 100%;
  }
}

@media (max-width: 383px) {
  .enquiries p {
    width: 300px;
  }
}

@media (max-width: 332px) {
  .enquiries p {
    width: 100%;
  }
}

@media (max-width: 276px) {
  .contact {
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color: transparent;
  }

  .contact::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 1098px) {
  .address:first-child svg {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 668px) {
  .address:first-child svg {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 642px) {
  .address:first-child svg {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 530px) {
  .address:first-child svg {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 466px) {
  .address:first-child svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 433px) {
  .address:first-child svg {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 388px) {
  .address:first-child svg {
    width: 70px;
    height: 70px;
  }
}
